@import 'colors';

.cart{
    height: 100vh;
    display: grid;
    grid-template-columns: 4fr 1fr;

    > main{
        padding: 2rem;
        overflow-y: auto;
        &::-webkit-scrollbar{
            display: none;
        }
        >h1{
            color: black;
            font: 300 2rem "Roboto";
        }
    }
    > aside{
        border-radius: 100px 0 0 100px;
        background-color: $one;
        color: $element;
        width: 100%;
        height: 100%;
        box-shadow: -10px 0 10px rgba(0,0,0,0.182);
        display: flex;
        flex-direction: column;
        justify-content: center;
        >h2{
            margin: 1rem;
            font: 100 1.4rem "Roboto";
            letter-spacing: 2px;
            &:last-of-type{
                font-weight: 600;
            }
        }
    }
}

.cartItem{
    background-color: $element;
    width: 100%;
    border-radius: 10px;
    margin: 2rem 0;
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 1fr;
    color: black;
    align-items: center;
    gap: 20px;
    img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    >div{
        display: flex;
        align-items: center;
        height: 100%;
     
        button{
            width: 30px;
            height: 30px;
            border: none;
            background-color: $one;
            color: $element;
            border-radius: 5px;
            cursor: pointer;
            &:hover{
                background-color: $onedark;
            }
        }
        p{
            width: 30px;
            height: 30px;
            display: grid;
            place-items: center;
        }
    }
    > svg{
        cursor: pointer;
        font-size: 1.5rem;
       
        display: inline-block;
        margin: auto;
        transition: all 0.3s;
        &:hover{
            color: $two;
        }
    }

}

